---
title: Home
---

{% include head.html %}

<body>

	{% include header.html %}

		<main class="next-edition" role="main">
			<div class="narrowed">
				<header class="next-edition__header">
					<h1 class="next-edition__next">Prochain aperoweb : Lundi 1 février 2016</h1>

                    <div class="next-edition__date">
                        <p>Rendez-vous à partir de 19h chez <a href="http://www.coworking-toulouse.com">Etincelle CoWorking</a>.</p>
                    	<p>1 rue Bouquières, 31000 Toulouse. Métro : Carmes.</p>
                    	<p>Les places assises étant limitées, merci de <a href="#register">vous inscrire</a></p>
                    </div>

                    <h2 class="next-edition__title">Des CSS pour le futur</h2>

                    <p>L'&eacute;cosyst&egrave;me de CSS continue d'&eacute;voluer et d'innover pour adresser les probl&egrave;mes actuels que rencontrent les d&eacute;veloppeurs d'application web : syntaxe en &eacute;volution constante, modularit&eacute;, automatisation. L'usage de pr&eacute;-processeurs comme Sass a point&eacute; du doigt les manques de CSS mais ne permet pas pour autant de pouvoir utiliser des fonctionnalit&eacute;s non encore standardisées comme CSS Grid Layout. Heureusement des outils existent pour faciliter le travail des int&eacute;grateurs et des d&eacute;veloppeurs front-end.</p>

                    <p><a href="https://github.com/postcss/postcss">PostCSS</a> &agrave; l'instar de Babel en JavaScript permet de transformer et d&rsquo;&eacute;tendre la syntaxe CSS.&nbsp;Les &eacute;quipes de Google, Twitter ou Shopify ont toutes adopt&eacute; ces outils&nbsp;pour minimiser leur dette technique et pour utiliser d&egrave;s aujourd&rsquo;hui la syntaxe de demain. Vous aussi b&eacute;n&eacute;ficiez du travail de la communaut&eacute; et demandez en plus &agrave; vos CSS.</p>

                    <p>Pr&eacute;sent&eacute; par <a href="http://moox.io/">Maxime Thirouin</a>, d&eacute;veloppeur freelance, contribue sous le nom de <a href="https://github.com/MoOx">MoOx</a> dans la communaut&eacute; open-source. Il&nbsp;adore bricoler le CSS et le JS autant qu'il aime jardiner et s'occuper de son potager bio.</p>

                    <div id="register" class="lead">
						<p><em>Gratuit et ouvert à tous</em></p>
						<p><a href="https://www.eventbrite.fr/e/billets-aperoweb-toulouse-37-future-friendly-css-20841258766" class="btn complementary">Inscrivez-vous</a></p>
					</div>

						<p>Restez informés, <a href="http://eepurl.com/zpnJv">abonnez-vous à notre lettre d'information</a> ou suivez <a href="https://twitter.com/{{ site.twitter_profile }}">{{ site.twitter_profile }}</a> sur Twitter.</p>
				</header>
			</div>
		</main>

	{%include previous_editions.html %}

	{% include footer.html %}
</body>
</html>
