---
title: Home
---

{% include head.html %}

<body>

	{% include header.html %}

		<main class="next-edition" role="main">
			<div class="narrowed">
				<header class="next-edition__header">
					<h1 class="next-edition__next">Prochain aperoweb : Lundi 7 mars 2016</h1>

                    <div class="next-edition__venue">
                        <p>Rendez-vous à partir de 19h chez <a href="http://www.coworking-toulouse.com">Etincelle CoWorking</a>.</p>
                    	<p>1 rue Bouquières, 31000 Toulouse. Métro : Carmes.</p>
                    </div>

				</header>
			</div>
		</main>

	{%include previous_editions.html %}

	{% include footer.html %}
</body>
</html>
