<header class="main-header" role="banner">
    <p class="main-header__logo">
        <img src="img/aperoweb.png" alt="Apero Web Toulouse">
    </p>
    <div class="narrowed">
        <p class="main-header__baseline">{{ site.tagline }}</p>
        <p>Tous les premiers lundi du mois, venez partager vos retours d'expériences et échanger avec d'autres professionnels du web, que vous soyez ergonome, designer, développeur, chef de projet ou étudiant.</p>
        <p><a href="http://eepurl.com/zpnJv">Abonnez-vous à notre lettre d'information</a>, suivez <a href="https://twitter.com/{{ site.twitter_profile }}">{{ site.twitter_profile }}</a> sur Twitter et <a href="https://lite4.framapad.org/p/Aperoweb_tlse">proposez des sujets</a> sur notre Framapad.</p>
    </div>
</header>
