<header class="main-header" role="banner">
  <p class="main-header__logo">
    <img src="{{ site.baseurl }}/assets/img/aperoweb.png" alt="Apero Web Toulouse" width="128" height="128">
  </p>
  <div class="narrowed">
    <p class="main-header__baseline">{{ site.description }}</p>
    <p class="lead">Chaque premier lundi du mois, venez partager vos retours d'expériences et échanger avec des professionnels du web.</p>

    <p class="lead">
      <a href="{{ site.call_for_speaker.url }}" class="btn" ga-on="click" ga-event-category="call-to-action" ga-event-action="call-for-speaker">Proposez un sujet</a>
    </p>

    <p class="lead">Restez informés via <a href="http://eepurl.com/zpnJv">notre lettre mensuelle</a>, <a href="//twitter.com/{{ site.twitter.username }}">Twitter</a>.</p>

    <p class="lead">
      <script async defer src="http://aperoweb-toulouse.herokuapp.com/slackin.js"></script>
    </p>
  </div>
</header>
